<section class="moodForm" id="editMood">

    <form action="/update/<%= mood_put.createdAt %>" method="POST" id="newMood">

      <div id="mood-choice">

        <input type="hidden" name="mood_id" id="mood_id-input" class="input" value="<%= mood_put.mood_id %>">

        <span class="label">mood *</span>

        <div class="icon mood-icon default mood_0" id="0"></div>
        <div class="icon mood-icon default mood_1" id="1"></div>
        <div class="icon mood-icon default mood_2" id="2"></div>
        <div class="icon mood-icon default mood_3" id="3"></div>
        <div class="icon mood-icon default mood_4" id="4"></div>
        <div class="icon mood-icon default mood_5" id="5"></div>

      </div>

      <div id="date-time">

        <span class="label" id="dateTime-label">date/time *</span>

        <input type="date" name="date" id="date-input" class="dateTime-input input" value="<%= mood_put.date %>" required>
        <input type="time" step="1" name="time" id="time-input" class="dateTime-input input" value="<%= mood_put.time %>" required>

      </div>

      <div id="icon-choice">

        <input type="hidden" name="icon" id="icon-input" class="input"  value="<%= mood_put.icon %>">

        <span class="label">icon</span>

        <div id="icon-wrapper">

          <% for (let i = 0; i < icon_list.length; i++) { %>

          <div class="icon mood-icon custom">
            <%= icon_list[i] %>
          </div>

          <% } %>

        </div>

      </div>

      <div id="text-choice">

        <span class="label">text</span>

        <input type="text" name="text" id="text-input" class="input" value="<%= mood_put.text %>">

      </div>

      <input type="hidden" name="createdAt" id="createdAt-input" class="input" value="<%= mood_put.createdAt %>">
      <input type="hidden" name="timestamp" id="timestamp-input" class="input" value="<%= mood_put.timestamp %>">

      <button class="btn_enabled mood_<%= mood_put.mood_id %>" id="addMood_btn" type="submit">
        edit<strong>Mood</strong>
        <span class="icon" id="btn_icon"><%= mood_put.icon %></span>
      </button>

    </form>
  </section>

<script src="/JS/script_editMood.js"></script>
