<section id="moods">

      <% if (mood_delete.text) { %>
        <article class="moodContainer noteMood mood_<%= mood_delete.mood_id %>">
      <% } else { %>
        <article class="moodContainer mood_<%= mood_delete.mood_id %>">
      <% } %>

      <div class="icon moodIcon">
        <%= mood_delete.icon %>
      </div>

      <div class="moodTimestamp">
        <span class="date"><%= mood_delete.date %></span> @ <span class="time"><%= mood_delete.time %></span>
      </div>

      <div class="moodText">
        <%= mood_delete.text %>
      </div>

    </article>

</section>