<section id="moods">

    <% moods.forEach((mood, index) => { %>

      <% if (index === 0 || (mood.date !== moods[index - 1].date)) { %>
      <h2>----- <span class="titleDate"><%= mood.formattedDateTitle %></span></h2>
      <% } %>

      <% if (mood.text) { %>
        <article class="moodContainer note_mood mood_<%= mood.mood_id %>">
      <% } else { %>
        <article class="moodContainer mood_<%= mood.mood_id %>">
      <% } %>

      <div class="icon moodIcon">
        <%= mood.icon %>
      </div>

      <div class="moodTimestamp">
        <span class="date"><%= mood.formattedDateText %></span> @ <span class="time"><%= mood.formattedTime %></span>
      </div>

      <div class="moodOptions">
        <div class="icon editIcon editDeleteIcon"><a href="/getById/<%= mood.createdat %>/put"></a></div>
        <div class="icon deleteIcon editDeleteIcon"><a href="/getById/<%= mood.createdat %>/delete"></a></div>
      </div>

      <div class="moodText">
        <%= mood.text %>
      </div>

    </article>

  <%}); %>

</section>