<section id="moods">

      <% if (mood_put.text) { %>
        <article class="moodContainer noteMood mood_<%= mood_put.mood_id %>">
      <% } else { %>
        <article class="moodContainer mood_<%= mood_put.mood_id %>">
      <% } %>

      <div class="icon moodIcon">
        <%= mood_put.icon %>
      </div>

      <div class="moodTimestamp">
        <span class="date"><%= mood_put.date %></span> @ <span class="time"><%= mood_put.time %></span>
      </div>

      <div class="moodText">
        <%= mood_put.text %>
      </div>

    </article>

</section>