<section id="moods">

    <% moods.forEach((mood, index) => { %>

      <% if (index === 0 || (mood.date !== moods[index - 1].date)) { %>
      <h2>----- <span class="title_date"><%= mood.formattedDate_title %></span></h2>
      <% } %>

      <% if (mood.text) { %>
        <article class="mood_container note_mood mood_<%= mood.mood_id %>">
      <% } else { %>
        <article class="mood_container mood_<%= mood.mood_id %>">
      <% } %>

      <div class="icon mood_icon">
        <%= mood.icon %>
      </div>

      <div class="mood_timestamp">
        <span class="date"><%= mood.formattedDate_text %></span> @ <span class="time"><%= mood.formattedTime %></span>
      </div>

      <div class="mood_options">
        <div class="icon editIcon editDelete_icon"><a href="/getById/<%= mood.createdAt %>/put"></a></div>
        <div class="icon deleteIcon editDelete_icon"><a href="/getById/<%= mood.createdAt %>/delete"></a></div>
      </div>

      <div class="mood_text">
        <%= mood.text %>
      </div>

    </article>

  <%}); %>

</section>