<section id="moods">

      <% if (mood_put.text) { %>
        <article class="mood_container note_mood mood_<%= mood_put.mood_id %>">
      <% } else { %>
        <article class="mood_container mood_<%= mood_put.mood_id %>">
      <% } %>

      <div class="icon mood_icon">
        <%= mood_put.icon %>
      </div>

      <div class="mood_timestamp">
        <span class="date"><%= mood_put.date %></span> @ <span class="time"><%= mood_put.time %></span>
      </div>

      <div class="mood_text">
        <%= mood_put.text %>
      </div>

    </article>

</section>