<section id="moods">

      <% if (mood_delete.text) { %>
        <article class="mood_container note_mood mood_<%= mood_delete.mood_id %>">
      <% } else { %>
        <article class="mood_container mood_<%= mood_delete.mood_id %>">
      <% } %>

      <div class="mood_icon">
        <%= mood_delete.icon %>
      </div>

      <div class="mood_timestamp">
        <span class="date"><%= mood_delete.date %></span> @ <span class="time"><%= mood_delete.time %></span>
      </div>

      <div class="mood_text">
        <%= mood_delete.text %>
      </div>

    </article>

</section>