<section id="moods">

  <% moods.forEach((mood, index) => { %>

  <% if (index === 0 || (mood.date !== moods[index - 1].date)) { %>
  <h3 class="titleDate"><%= mood.formattedDateTitle %></h3>
  <% } %>

  <article class="moodContainer mood_<%= mood.mood_id %>">

    <div class="icon moodIcon">
      <%= mood.icon %>
    </div>

    <div class="moodTimestamp">
      <span class="date"><%= mood.formattedDateText %></span> @ <span class="time"><%= mood.formattedTime %></span>
    </div>

    <div class="moodOptions">
      <div class="icon updateIcon updateDeleteIcon"><a href="/updateMood/<%= mood.createdat %>"></a></div>
      <div class="icon deleteIcon updateDeleteIcon"><a href="/destroyMood/<%= mood.createdat %>"></a></div>
    </div>

    <div class="moodText">
      <%= mood.text %>
    </div>

  </article>

  <%}); %>

</section>