<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('components/head'); %>

  <title>MiaMood</title>
</head>

<body>

  <header>
    <%- include('components/header'); %>
  </header>

  <div class="spacer5"></div>


  <main>

    <%- include ('components/moodToDelete'); %>
    <%- include ('components/DeleteMood'); %>

  </main>

  <%- include('components/footer'); %>

</body>

</html>