<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('components/head'); %>

  <title>MiaMood</title>
</head>

<body>

  <%- include('components/header'); %>

  <main>

    <% if (!mood_put && !mood_delete) { %>

    <%- include ('components/moods'); %>

    <% } else if (mood_put) { %>

    <%- include ('components/moodToEdit'); %>
    <%- include ('components/editMood'); %>
    
    <% } %>
    
  </main>

  <%- include('components/footer'); %>

</body>

</html>