<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('components/head'); %>

  <title>MiaMood</title>
</head>

<body>

  <header>

    <% if (message) { %>

    <section id="message">
      <span class="icon" id="message_icon"></span>
      <span id="message_text"><%= message %></span>
    </section>

    <% } %>

    <%- include('components/header'); %>
    
  </header>

  <div class="spacer-5"></div>


  <main>

    <% if (!mood_put && !mood_delete) { %>

    <%- include ('components/moods'); %>

    <% } else if (mood_put) { %>

    <%- include ('components/moodToEdit'); %>
    <%- include ('components/editMood'); %>

    <% } else if (mood_delete) { %>

    <%- include ('components/moodToDelete'); %>
    <%- include ('components/deleteMood'); %>

    <% } %>

  </main>

  <%- include('components/footer'); %>

</body>

</html>