<!DOCTYPE html>
<html lang="en">

<head>

  <%- include ('components/head'); %>
  <link rel="stylesheet" href="/CSS/style_moodForm.css">

  <title>MiaMood | UPDATE</title>

</head>

<body>

  <div class="horizontalSpacer"></div>

  <%- include ('components/header'); %>

  <div id="containerA">

    <aside id="pageTitle">

      <h2>mood/<span>UPDATE</span></h2>

    </aside>

    <section id="contentA">

      <article class="updateDestroy moodContainer mood_<%= mood_put.mood_id %>">

        <div class="icon moodIcon">
          <%= mood_put.icon %>
        </div>

        <div class="moodTimestamp">
          <span class="date"><%= mood_put.formattedDateText %></span> @ <span class="time"><%= mood_put.formattedTime %></span>
        </div>

        <div class="moodText">
          <%= mood_put.text %>
        </div>

      </article>

    </section>

  </div>

  <div id="containerB">

    <form action="/update/<%= mood_put.createdat %>" method="POST" id="updateMood">

      <div id="moodChoice">

        <input type="hidden" name="mood_id" id="mood_idInput" class="input" value="<%= mood_put.mood_id %>">

        <span class="label">mood *</span>

        <div class="icon moodIcon default mood_1" id="1"></div>
        <div class="icon moodIcon default mood_2" id="2"></div>
        <div class="icon moodIcon default mood_3" id="3"></div>
        <div class="icon moodIcon default mood_4" id="4"></div>
        <div class="icon moodIcon default mood_5" id="5"></div>
        <div class="icon moodIcon default mood_6" id="6"></div>
        <div class="icon moodIcon default mood_0" id="0"></div>

      </div>

      <div id="dateTime">

        <span class="label" id="dateTimeLabel">date/time *</span>

        <input type="date" name="date" id="dateInput" class="dateTimeInput input" value="<%= mood_put.date %>" required>
        <input type="time" step="1" name="time" id="timeInput" class="dateTimeInput input" value="<%= mood_put.time %>" required>

      </div>

      <div id="iconChoice">

        <input type="hidden" name="icon" id="iconInput" class="input" value="<%= mood_put.icon %>">

        <span class="label">icon</span>

        <div id="iconWrapper">

          <% for (let i = 0; i < iconList.length; i++) { %>

          <div class="icon moodIcon custom">
            <%= iconList[i] %>
          </div>

          <% } %>

        </div>

      </div>

      <div id="textChoice">

        <span class="label">text</span>

        <input type="text" name="text" id="textInput" class="input" value="<%= mood_put.text %>">

      </div>

      <input type="hidden" name="createdat" id="createdatInput" class="input" value="<%= mood_put.createdat %>">
      <input type="hidden" name="timestamp" id="timestampInput" class="input" value="<%= mood_put.timestamp %>">

      <button class="btnEnabled mood_<%= mood_put.mood_id %>" id="addMoodBtn" type="submit">
        update<strong>Mood</strong>
        <span class="icon" id="btnIcon"><%= mood_put.icon %></span>
      </button>

    </form>

  </div>

  <script src="/JS/script.js"></script>
  <script src="/JS/script_updateMood.js"></script>

</body>

</html>